.modules-list.real-modules .accordion {
    border: none;
    background-color: inherit;
    text-align: center;
}

.modules-list.real-modules .card {
    border: none;
    background-color: inherit;
    text-align: center;
}

.modules-list.real-modules .card-header {
    border: none;
    background-color: inherit;
    text-align: center;
}

.modules-list.real-modules .card-body hr{
    border-color: transparent;
}
.real-modules {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}