.user-content {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding: 12px;
    background-image: linear-gradient(#a0f1ea, #e8b0e3);
}

.user-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.user-content::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #d6c8d9 14%, #8592e6 56%);
    border-radius: 10px;
}

.user-content::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

.user-content::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.user-content-card {
    padding: 12px;
    box-sizing: border-box;
    background-color: #f7faff;
    border-radius: 12px;
    color: #73a7ff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
    flex-grow: 1;
}

@media (max-width: 770px) {
    .user-content::-webkit-scrollbar {
        width: 2px;
        height: 10px;
    }

    .user-content {
        padding-top: 57px;
    }
}
