.left-panel-container {
    width: 20%;
}

.main-panel-container {
    width: 65%;
}

.right-panel-container {
    width: 25%;
}

.mobile-nav-bar {
    -webkit-box-shadow: 0px 4px 14px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 4px 14px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 4px 14px 0px rgba(34, 60, 80, 0.2);
}