.auth-login-registration-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}

.auth-login-registration-right-part {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center
}
.auth-input {
    padding: 10px 12px;
    border-radius: 30px;
    height: auto;
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-color: #b3b3b3;
    border: none;
    outline: none;
}
.auth-form {
    margin-top: 30px;
}
.auth-form-raw{
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 450px;
    font-size: 1rem;
}
.auth-logo-container {
    margin-bottom: 70px;
    margin-top: 27px;
}

@media (max-height: 580px) {
    .auth-logo-container {
        margin-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .auth-form-raw {
        width: 350px;
    }
}

@media (max-width: 380px) {
    .auth-form-raw {
        width: 300px;
    }
}

.auth-login-registration-form {
    width: 500px;
    padding: 22px;
    border-radius: 10px;
    background-color: white;
}



@media (max-width: 770px) {
    .auth-login-registration-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        box-sizing: border-box;
    }

    .auth-login-registration-right-part {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center
    }

    .auth-login-registration-form {
        width: 100%;
        padding: 22px;
        margin: 12px;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: white;
    }
}
