.user-profile::-webkit-scrollbar {
 width: 10px;
 height: 10px;
}
.user-profile::-webkit-scrollbar-thumb {
 background: linear-gradient(13deg, #d6c8d9 14%,#8592e6 56%);
 border-radius: 10px;
}
.user-profile::-webkit-scrollbar-thumb:hover{
 background: linear-gradient(13deg, #c7ceff 14%,#f9d4ff 64%);
}
.user-profile::-webkit-scrollbar-track{
 background: #ffffff;
 border-radius: 10px;
 box-shadow: inset 7px 10px 12px #f0f0f0;
}