.moduleContent::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.moduleContent::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #d6c8d9 14%, #8592e6 56%);
    border-radius: 10px;
}

.moduleContent::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

.moduleContent::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

.moduleContent-background {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

.info {
    width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.moduleContent-no-overflow-parent {
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    background-color: white;
}

.moduleContent {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    background-color: white;
}

.no-lessons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.moduleContent-title {
    text-align: center;
    padding-bottom: 10px;
}

.moduleContent-test-completed {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: green
}

.lesson-video {
    width: 400px;
}

.moduleContent-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px;
}

.float-button-add-calendar {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: green;
    color: white;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
}
.rbc-calendar{
    position: relative;
    z-index: 2;
    flex-grow: 1;
}

@media (max-width: 770px) {
    .moduleContent-background {
        padding-top: 45px;
    }

    .moduleContent::-webkit-scrollbar {
        width: 2px;
        height: 10px;
    }

    .moduleContent-content {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 5px;
    }
}

@media (max-width: 460px) {
    .lesson-video {
        width: 320px;
    }
}